<link rel="stylesheet" href="assets/css/mobile.css">

<!-- App  -->
<div id="app" app></div>
<!-- App  -->

<!-- HOME, PRODUCT, CART, ABOUT -->

<div class="hero-image">
  <div class="hero-text">
    <span>Exclusive Sales</span>
    <h1>UP TO 50% OFF <br>ON SALES</h1>
    <img src="assets/images/matcha.png" class="hero-img" width="200px">
  </div>
  <div class="wrapper">
    <button href="#" >PESAN SEKARANG</button>
  </div>
</div>

<section class="section promotion">
  <div class="title">
    <h2>Product</h2>
    <span>Select from the premium product and save plenty money</span>
  </div>

  <div class="promotion-layout container">
    <div class="promotion-item">
      <h3>Coffee</h3>
      <img src="/assets/images/ca_matcha.png" alt="" width="200" height="200"/>
      <div class="promotion-content">
        <button href="">SHOP NOW</button>
      </div>
    </div>

    <div class="promotion-item">
      <h3>Non-Coffee</h3>
      <img src="/assets/images/taro.png" alt="" width="200" height="200"/>
      <div class="promotion-content">
        <button href="">SHOP NOW</button>
      </div>
    </div>

    <div class="promotion-item">
      <h3>Merchandise</h3>
      <img src="/assets/images/merch7.jpg" alt="" width="200" height="200"/>
      <div class="promotion-content">
        <button href="">SHOP NOW</button>
      </div>
    </div>
  </div>
  <div class="more-container">
    <div class="more">
      <button href="#">Selengkapnya</button>
    </div>
  </div>
</section>

<section class="section products">
  <div class="title">
    <h2>Our Menu</h2>
  </div>
</section>

  <section class="section-bar">
    <div class="bar-item">
      <img href="#" src="/assets/images/product1.jpg" width="400" height="200">
      <div class="tomkus">
        <button href="#">Pesan</button>
      </div>
    </div>
    <div class="bar-item">
      <img href="#" src="/assets/images/product2.jpg" width="400" height="200">
      <div class="tomkus">
        <button href="#">Pesan</button>
      </div>
    </div>
    <div class="bar-item">
      <img href="#" src="/assets/images/product3.jpg" width="400" height="200">
      <div class="tomkus">
        <button href="#">Pesan</button>
      </div>
    </div>
    <div class="bar-item">
      <img href="#" src="/assets/images/product4.jpg" width="400" height="200">
      <div class="tomkus">
        <button href="#">Pesan</button>
      </div>
    </div>
    <div class="bar-item">
      <img href="#" src="/assets/images/product5.jpg" width="400" height="200">
      <div class="tomkus">
        <button href="#">Pesan</button>
      </div>
    </div>
    <div class="bar-item">
      <img href="#" src="/assets/images/product6.jpg" width="400" height="200">
      <div class="tomkus">
        <button href="#">Pesan</button>
      </div>
    </div>
    <div class="bar-item">
      <img href="#" src="/assets/images/product7.jpg" width="400" height="200">
      <div class="tomkus">
        <button href="#">Pesan</button>
      </div>
    </div>
    <div class="bar-item">
      <img href="#" src="/assets/images/product8.jpg" width="400" height="200">
      <div class="tomkus">
        <button href="#">Pesan</button>
      </div>
    </div>
    <div class="bar-item">
      <img href="#" src="/assets/images/product9.jpg" width="400" height="200">
      <div class="tomkus">
        <button href="#">Pesan</button>
      </div>
    </div>
    <div class="bar-item">
      <img href="#" src="/assets/images/product10.jpg" width="400" height="200">
      <div class="tomkus">
        <button href="#">Pesan</button>
      </div>
    </div>
  </section>

<!--navbotbar start TOK-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="nav">
  <a href="#" class="nav__link">
    <i class="material-icons nav__icon">home</i>
    <span class="nav__text">Home</span>
  </a>
  <a href="#" class="nav__link">
    <i class="material-icons nav__icon">local_drink</i>
    <span class="nav__text">Product</span>
  </a>
  <a href="#" class="nav__link">
    <i class="material-icons nav__icon">shopping_cart</i>
    <span class="nav__text">Cart</span>
  </a>
  <a href="#" class="nav__link">
    <i class="material-icons nav__icon">info</i>
    <span class="nav__text">About</span>
  </a>
</nav>
<!--navbotbar end-->
