<link rel="stylesheet" href="assets/css/mobile.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- App  -->
<div id="app" app></div>

<!--Navigation Bar-->
<nav class="nav">
  <a href="#" class="nav__link" route-name="home" route primaryRoute>
    <i class="material-icons nav__icon">home</i>
    <span class="nav__text">Home</span>
  </a>
  <a href="#" class="nav__link" route-name="products" route>
    <i class="material-icons nav__icon">local_drink</i>
    <span class="nav__text">Product</span>
  </a>
  <a href="#" class="nav__link" route-name="cart" route>
    <i class="material-icons nav__icon">shopping_cart</i>
    <span class="nav__text">Cart</span>
  </a>
  <a href="#" class="nav__link" route-name="about" route>
    <i class="material-icons nav__icon">info</i>
    <span class="nav__text">About</span>
  </a>
</nav>
<!--navbotbar end-->