* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v3_3 {
    width: 100%;
    height: 5018px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v14_8 {
    width: 100%;
    height: 505px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 160px;
    left: 265px;
    overflow: hidden;
  }
  .v13_0 {
    width: 114px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 16px;
    left: 112px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  .v12_4 {
    width: 82px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 35px;
    left: 506px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v12_10 {
    width: 79px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 35px;
    left: 624px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v12_11 {
    width: 113px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 35px;
    left: 739px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v14_2 {
    width: 51px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 35px;
    left: 884px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v13_3 {
    width: 54px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 35px;
    left: 1276px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v14_1 {
    width: 32px;
    height: 32px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 1236px;
    border-radius: 50%;
  }
  .v13_2 {
    width: 46px;
    height: 46px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 24px;
    border-radius: 50%;
  }
  .v14_0 {
    width: 46px;
    height: 46px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 1370px;
    border-radius: 50%;
  }
  .v14_10 {
    width: 316px;
    height: 520px;
    background: url("../images/v14_10.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 216px;
    left: 165px;
    overflow: hidden;
  }
  .v14_11 {
    width: 116px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 449px;
    left: 265px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v14_12 {
    width: 413px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 216px;
    left: 545px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v18_0 {
    width: 529px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 408px;
    left: 545px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v21_1 {
    width: 31px;
    height: 31px;
    background: url("../images/v21_1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 554px;
    left: 545px;
    border: 1px solid rgba(153,153,153,1);
    overflow: hidden;
  }
  .v21_11 {
    width: 24px;
    height: 24px;
    background: url("../images/v21_11.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 558px;
    left: 549px;
    overflow: hidden;
  }
  .v21_12 {
    width: 14px;
    background: url("../images/v21_12.png");
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 5px;
    border: 1px solid rgba(153,153,153,1);
  }
  .v21_2 {
    width: 32px;
    height: 32px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 554px;
    left: 624px;
    overflow: hidden;
  }
  .v21_9 {
    width: 24px;
    height: 24px;
    background: url("../images/v21_9.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 558px;
    left: 628px;
    overflow: hidden;
  }
  .v21_10 {
    width: 14px;
    height: 14px;
    background: url("../images/v21_10.png");
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 5px;
    border: 1px solid rgba(255,255,255,1);
  }
  .v18_4 {
    width: 229px;
    height: 62px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 538px;
    left: 693px;
    overflow: hidden;
  }
  .v18_5 {
    width: 108px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 552px;
    left: 769px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v18_13 {
    width: 28px;
    height: 28px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 555px;
    left: 725px;
    border-radius: 50%;
  }
  .v18_8 {
    width: 139px;
    height: 62px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 538px;
    left: 931px;
    overflow: hidden;
  }
  .v18_11 {
    width: 48px;
    height: 28px;
    background: url("../images/v18_11.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 555px;
    left: 977px;
    overflow: hidden;
  }
  .v18_3 {
    width: 24px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 552px;
    left: 588px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v18_7 {
    width: 74px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 479px;
    left: 545px;
    font-family: Taviraj;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v19_2 {
    width: 60px;
    height: 60px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 634px;
    left: 1184px;
    overflow: hidden;
  }
  .v19_3 {
    width: 60px;
    height: 60px;
    background: url("../images/v19_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 634px;
    left: 1109px;
    border: 1px solid rgba(51,51,51,1);
    overflow: hidden;
  }
  .v20_9 {
    width: 32px;
    height: 32px;
    background: url("../images/v20_9.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 648px;
    left: 1155px;
    overflow: hidden;
  }
  .v20_10 {
    width: 11px;
    height: 23px;
    background: url("../images/v20_10.png");
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    border: 1.5px solid rgba(51,51,51,1);
  }
  .v20_7 {
    width: 32px;
    height: 32px;
    background: url("../images/v20_7.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 648px;
    left: 1198px;
    overflow: hidden;
  }
  .v20_8 {
    width: 11px;
    height: 23px;
    background: url("../images/v20_8.png");
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    border: 1.5px solid rgba(255,255,255,1);
  }
  .v21_13 {
    width: 540px;
    height: 270px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 876px;
    left: 165px;
    overflow: hidden;
  }
  .v24_1 {
    width: 238px;
    height: 114px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 1032px;
    left: 467px;
    overflow: hidden;
  }
  .v24_4 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1069px;
    left: 543px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v21_15 {
    width: 540px;
    height: 270px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 876px;
    left: 735px;
    overflow: hidden;
  }
  .v24_7 {
    width: 345px;
    color: rgba(119,119,119,1);
    position: absolute;
    top: 948px;
    left: 890px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: right;
  }
  .v24_8 {
    width: 115px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 1005px;
    left: 1120px;
    font-family: Taviraj;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v24_10 {
    width: 306px;
    color: url("../images/v24_10.png");
    position: absolute;
    top: 908px;
    left: 929px;
    font-size: 28px;
    opacity: 1;
    text-align: right;
  }
  .v24_5 {
    width: 238px;
    height: 114px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 1032px;
    left: 735px;
    overflow: hidden;
  }
  .v24_6 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1069px;
    left: 811px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v22_1 {
    width: 345px;
    color: rgba(119,119,119,1);
    position: absolute;
    top: 948px;
    left: 197px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v24_2 {
    width: 115px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 1005px;
    left: 200px;
    font-family: Taviraj;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v21_19 {
    width: 269px;
    color: url("../images/v21_19.png");
    position: absolute;
    top: 908px;
    left: 197px;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v25_1 {
    width: 255px;
    height: 412px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 1386px;
    left: 450px;
    overflow: hidden;
  }
  .v28_29 {
    width: 193px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 1599px;
    left: 474px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_30 {
    width: 62px;
    color: rgba(119,119,119,1);
    position: absolute;
    top: 1633px;
    left: 474px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v28_31 {
    width: 98px;
    color: rgba(119,119,119,1);
    position: absolute;
    top: 1663px;
    left: 476px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v28_33 {
    width: 146px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 1687px;
    left: 474px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_27 {
    width: 207px;
    height: 221px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 1346px;
    left: 474px;
    overflow: hidden;
  }
  .v28_28 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1436px;
    left: 534px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v25_0 {
    width: 255px;
    height: 381px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 1386px;
    left: 165px;
    overflow: hidden;
  }
  .v28_0 {
    width: 207px;
    height: 221px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 1346px;
    left: 189px;
    overflow: hidden;
  }
  .v28_7 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1436px;
    left: 249px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_1 {
    width: 141px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 1599px;
    left: 189px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_2 {
    width: 62px;
    color: rgba(119,119,119,1);
    position: absolute;
    top: 1633px;
    left: 189px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v28_4 {
    width: 98px;
    color: rgba(119,119,119,1);
    position: absolute;
    top: 1663px;
    left: 191px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v28_3 {
    width: 146px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 1687px;
    left: 189px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_10 {
    width: 255px;
    height: 381px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 1386px;
    left: 735px;
    overflow: hidden;
  }
  .v28_11 {
    width: 207px;
    height: 221px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 1346px;
    left: 759px;
    overflow: hidden;
  }
  .v28_12 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1436px;
    left: 819px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_13 {
    width: 143px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 1599px;
    left: 759px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_14 {
    width: 62px;
    color: rgba(119,119,119,1);
    position: absolute;
    top: 1633px;
    left: 759px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v28_15 {
    width: 98px;
    color: rgba(119,119,119,1);
    position: absolute;
    top: 1663px;
    left: 761px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v28_17 {
    width: 146px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 1687px;
    left: 759px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_19 {
    width: 255px;
    height: 381px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 1386px;
    left: 1020px;
    overflow: hidden;
  }
  .v28_20 {
    width: 207px;
    height: 221px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 1346px;
    left: 1044px;
    overflow: hidden;
  }
  .v28_21 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1436px;
    left: 1104px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_22 {
    width: 207px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 1599px;
    left: 1044px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_23 {
    width: 62px;
    color: rgba(119,119,119,1);
    position: absolute;
    top: 1665px;
    left: 1044px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v28_24 {
    width: 98px;
    color: rgba(119,119,119,1);
    position: absolute;
    top: 1695px;
    left: 1046px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v28_26 {
    width: 146px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 1719px;
    left: 1044px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v28_34 {
    width: 158px;
    height: 39px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 1743px;
    left: 523px;
    overflow: hidden;
  }
  .v28_36 {
    width: 39px;
    height: 39px;
    background: rgba(119,119,119,1);
    opacity: 1;
    position: absolute;
    top: 1743px;
    left: 476px;
    overflow: hidden;
  }
  .v28_35 {
    width: 86px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1751px;
    left: 559px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v28_37 {
    width: 24px;
    height: 24px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 1751px;
    left: 484px;
    border-radius: 50%;
  }
  .name {
    color: #fff;
  }
  .v28_39 {
    width: 259px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 1226px;
    left: 360px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v28_40 {
    width: 705px;
    height: 479px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 1958px;
    left: 735px;
    overflow: hidden;
  }
  .v28_41 {
    width: 487px;
    height: 484px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 2060px;
    left: 545px;
    overflow: hidden;
  }
  .v28_42 {
    width: 174px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2261px;
    left: 702px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v28_44 {
    width: 228px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 1958px;
    left: 360px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v28_45 {
    width: 350px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 2224px;
    left: 165px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: center;
  }
  .v28_46 {
    width: 163px;
    color: rgba(119,119,119,1);
    position: absolute;
    top: 2176px;
    left: 257px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .v28_47 {
    width: 160px;
    height: 58px;
    background: url("../images/v28_47.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2365px;
    left: 260px;
    border: 1px solid rgba(51,51,51,1);
    overflow: hidden;
  }
  .v28_48 {
    width: 66px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 2380px;
    left: 307px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v33_0 {
    width: 169px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 2704px;
    left: 254px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v34_0 {
    width: 203px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 2704px;
    left: 634px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v40_10 {
    width: 131px;
    height: 131px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 2804px;
    left: 545px;
    overflow: hidden;
  }
  .v40_11 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2849px;
    left: 567px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_12 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 2804px;
    left: 700px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_13 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 2872px;
    left: 700px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v43_0 {
    width: 103px;
    color: rgba(119,119,119,1);
    position: absolute;
    top: 2852px;
    left: 704px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v40_14 {
    width: 131px;
    height: 131px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 2967px;
    left: 545px;
    overflow: hidden;
  }
  .v40_15 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3012px;
    left: 567px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_16 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 2967px;
    left: 700px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_17 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 3012px;
    left: 700px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v40_18 {
    width: 131px;
    height: 131px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 3130px;
    left: 545px;
    overflow: hidden;
  }
  .v40_19 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3175px;
    left: 567px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_20 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 3130px;
    left: 700px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_21 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 3174px;
    left: 700px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v34_1 {
    width: 152px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 2704px;
    left: 1014px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v40_22 {
    width: 131px;
    height: 131px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 2804px;
    left: 925px;
    overflow: hidden;
  }
  .v40_23 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2849px;
    left: 947px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_24 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 2804px;
    left: 1080px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_25 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 2848px;
    left: 1080px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v40_26 {
    width: 131px;
    height: 131px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 2967px;
    left: 925px;
    overflow: hidden;
  }
  .v40_27 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3012px;
    left: 947px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_28 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 2967px;
    left: 1080px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_29 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 3039px;
    left: 1080px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v40_30 {
    width: 131px;
    height: 131px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 3130px;
    left: 925px;
    overflow: hidden;
  }
  .v40_31 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3175px;
    left: 947px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_32 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 3130px;
    left: 1080px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_33 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 3174px;
    left: 1080px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v36_0 {
    width: 131px;
    height: 131px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 2804px;
    left: 165px;
    overflow: hidden;
  }
  .v40_1 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2849px;
    left: 187px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v36_1 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 2804px;
    left: 320px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v39_0 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 2848px;
    left: 320px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v40_2 {
    width: 131px;
    height: 131px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 2967px;
    left: 165px;
    overflow: hidden;
  }
  .v40_3 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3012px;
    left: 187px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_4 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 2967px;
    left: 320px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_5 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 3039px;
    left: 320px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v40_6 {
    width: 131px;
    height: 131px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 3130px;
    left: 165px;
    overflow: hidden;
  }
  .v40_7 {
    width: 87px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3175px;
    left: 187px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_8 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 3130px;
    left: 320px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v40_9 {
    width: 190px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 3174px;
    left: 320px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: left;
  }
  .v45_0 {
    width: 515px;
    height: 300px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 3421px;
    left: 0px;
    overflow: hidden;
  }
  .v45_1 {
    width: 511px;
    height: 321px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 3488px;
    left: 165px;
    overflow: hidden;
  }
  .v45_4 {
    width: 134px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 3629px;
    left: 354px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v45_3 {
    width: 231px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 3421px;
    left: 959px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v45_5 {
    width: 511px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 3541px;
    left: 764px;
    font-family: Taviraj;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v45_6 {
    width: 139px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 3703px;
    left: 764px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v45_7 {
    width: 206px;
    color: rgba(119,119,119,1);
    position: absolute;
    top: 3737px;
    left: 764px;
    font-family: Taviraj;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v45_8 {
    width: 64px;
    height: 64px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 3825px;
    left: 165px;
    overflow: hidden;
  }
  .v45_11 {
    width: 32px;
    height: 32px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 3841px;
    left: 181px;
    border-radius: 50%;
  }
  .v45_9 {
    width: 64px;
    height: 64px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 3825px;
    left: 245px;
    overflow: hidden;
  }
  .v45_12 {
    width: 32px;
    height: 32px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 3841px;
    left: 261px;
    border-radius: 50%;
  }
  .v46_0 {
    width: 222px;
    height: 222px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 4010px;
    left: 165px;
    overflow: hidden;
  }
  .v46_8 {
    width: 89px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4101px;
    left: 232px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_4 {
    width: 222px;
    height: 222px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 4010px;
    left: 387px;
    overflow: hidden;
  }
  .v46_9 {
    width: 89px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4101px;
    left: 454px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_5 {
    width: 222px;
    height: 222px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 4010px;
    left: 609px;
    overflow: hidden;
  }
  .v46_11 {
    width: 89px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4101px;
    left: 676px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_6 {
    width: 222px;
    height: 222px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 4010px;
    left: 831px;
    overflow: hidden;
  }
  .v46_12 {
    width: 89px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4101px;
    left: 898px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_7 {
    width: 222px;
    height: 222px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 4010px;
    left: 1053px;
    overflow: hidden;
  }
  .v46_13 {
    width: 89px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 4101px;
    left: 1120px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_14 {
    width: 540px;
    height: 79px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 3968px;
    left: 450px;
    overflow: hidden;
  }
  .v46_15 {
    width: 153px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3987px;
    left: 648px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_16 {
    width: 100%;
    height: 568px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 4450px;
    left: 0px;
    overflow: hidden;
  }
  .v46_19 {
    width: 69px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4626px;
    left: 60px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_20 {
    width: 79px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4683px;
    left: 60px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v46_25 {
    width: 156px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4626px;
    left: 450px;
    font-family: Taviraj;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v47_11 {
    width: 148px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4626px;
    left: 735px;
    font-family: Taviraj;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v47_14 {
    width: 185px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4698px;
    left: 735px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v47_16 {
    width: 148px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4626px;
    left: 1021px;
    font-family: Taviraj;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v47_18 {
    width: 185px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4698px;
    left: 1021px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v46_29 {
    width: 97px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4683px;
    left: 450px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v46_22 {
    width: 117px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4845px;
    left: 60px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v46_24 {
    width: 139px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4881px;
    left: 60px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v46_17 {
    width: 100%;
    height: 194px;
    background: rgba(229,229,229,1);
    opacity: 1;
    position: absolute;
    top: 4352px;
    left: 165px;
    overflow: hidden;
  }
  .v46_18 {
    width: 316px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4395px;
    left: 562px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 64px;
    opacity: 1;
    text-align: left;
  }
  .v46_21 {
    width: 360px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4719px;
    left: 60px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v46_31 {
    width: 121px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4698px;
    left: 583px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v46_32 {
    width: 97px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4747px;
    left: 450px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v46_33 {
    width: 114px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4751px;
    left: 583px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v47_2 {
    width: 97px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4789px;
    left: 450px;
    font-family: Taviraj;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v47_3 {
    width: 121px;
    color: rgba(51,51,51,1);
    position: absolute;
    top: 4804px;
    left: 583px;
    font-family: Taviraj;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v47_4 {
    width: 32px;
    height: 32px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 4877px;
    left: 450px;
    border-radius: 50%;
  }
  .v47_5 {
    width: 32px;
    height: 32px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 4877px;
    left: 498px;
    border-radius: 50%;
  }
  .v47_6 {
    width: 32px;
    height: 32px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 4877px;
    left: 546px;
    border-radius: 50%;
  }
  .v47_7 {
    width: 32px;
    height: 32px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 4877px;
    left: 594px;
    border-radius: 50%;
  }
  .v47_8 {
    width: 32px;
    height: 32px;
    background: rgba(51,51,51,1);
    opacity: 1;
    position: absolute;
    top: 4877px;
    left: 642px;
    border-radius: 50%;
  }
  